<%- include('partials/header'); -%>
<div class="container">
    <div class="row">
    <h1 style="text-align:center;"> Entry of Covid19 patients</h1>
    <div style="width:30%; margin: 25px auto;">
        <form action="/report" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="name">
            </div>
             <div class="form-group">
                 <input class="form-control" type="text" name="age" placeholder="age">
             </div>
             <div class="form-group">
                <input class="form-control" type="text" name="state" placeholder="state">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="city" placeholder="city">
            </div>
              <div class="form-group"><button class="btn btn-lg btn-primary btn-block">Submit!</button>
              </div>
        </form>
<a href="/report">Go Back</a>  

    </div>
  
    </div>

</div>
<%- include('partials/footer'); -%>
